export(load.data,get.template,grow,qualityControl)
importFrom(XLConnect,readWorksheetFromFile)
importFrom(XLConnect,writeWorksheetToFile)
importFrom(raster,raster)
importFrom(raster,extract)


